<%- include('partials/header') %>
<main>
  <h1><%= title %></h1>
  <!-- Put your page-specific content here -->
  <h2>Enoch Olayemi</h2>

  <p>
    Hello! My name is Enoch Olayemi. I am a computer science student currently
    taking CSE 340. This site is a practice project to help me learn backend
    development, routing, and working with EJS and Node.js. Working on this last
    minute, but will be sure to dedicate more time to my studies in this class
    next time!
  </p>

  <h3>My Interests</h3>
  <ul>
    <li>Software development</li>
    <li>Web development</li>
    <li>Gaming and content creation</li>
    <li>Learning new programming languages</li>
    <li>I love roller skating soo so much</li>
  </ul>

  <h3>Pictures</h3>
  <img
    src="images\temple image.jpeg"
    alt="Photo of Enoch Olayemi"
    width="200"
  />
  <img
    src="images\mirror image.jpeg"
    alt="Another photo of Enoch Olayemi"
    width="200"
  />
</main>
<%- include('partials/footer') %>
