
    <%- include('partials/header') %>
    <main>
      <p>
        I believe this page will be dedicated to shopping carts type of
        products...
      </p>
    </main>
    <%- include('partials/footer') %>

